node_modules
/backend/vendor
/.idea
Homestead.json
Homestead.yaml
/backend/.env
/bin/.worker.pid

*/.DS_Store
/public/assets/poster/*.jpg
/public/assets/poster/subpage/*.jpg
/public/assets/backdrop/*.jpg
/public/exports/*.json
