language: php

sudo: false

php:
  - 5.6
  - 7.0
  - 7.1

env:
  APP_ENV: testing
  CACHE_DRIVER: array
  SESSION_DRIVER: array
  QUEUE_DRIVER: sync
  APP_KEY: 16efa6c23c2e8c705826b0e66778fbe7
  DB_CONNECTION: sqlite
  NODE_ENV: test
  TV_ROOT: /home/travis/build/devfake/flox/flox-file-parser/app/fixtures/tv
  MOVIES_ROOT: /home/travis/build/devfake/flox/flox-file-parser/app/fixtures/movies
  FLOX_HOST: 127.0.0.1

cache:
  directories:
    - $HOME/.composer/cache

services:
  - mysql

script:
  - (cd backend && vendor/bin/phpunit --testdox)

before_install:
  - nvm install 7.0
  - nvm use 7.0

install:
  - (cd backend && composer install --prefer-source --no-interaction)
  - (cd flox-file-parser && ./generate_fixtures.sh && npm install)
  - (cd flox-file-parser && cp database/config/config.js.example database/config/config.js)
  - (cd flox-file-parser && npm run db:setup && (FP_HOST=127.0.0.1 FP_PORT=3001 npm start&) && sleep 1)

notifications:
  email: false
