language: php

sudo: false

php:
  - 7.2

env:
  APP_ENV: testing
  CACHE_DRIVER: array
  SESSION_DRIVER: array
  QUEUE_DRIVER: sync
  APP_KEY: 16efa6c23c2e8c705826b0e66778fbe7
  DB_CONNECTION: sqlite

cache:
  directories:
    - backend/vendor

services:
  - mysql

script:
  - (cd backend && vendor/bin/phpunit --testdox)

install:
  - (cd backend && composer install --prefer-source --no-interaction)

notifications:
  email: false
