main {
  float: left;
  width: 100%;
  padding: 200px 0 0 0;
  min-height: 100vh;

  &.display-suggestions {
    padding: 250px 0 0 0;
  }

  .dark & {
    background: #1c1c1c;
  }

  .open-modal & {
    padding: 200px 17px 0 0;
  }

  @include media(3) {
    padding: 230px 0 0 0;
  }

  @include media(5) {
    padding: 190px 0 0 0;
  }

  .subpage-open & {
    padding: 0;
    //padding: 65vh 0 0 0;
    //position: absolute;
    //top: 0;
    //left: 0;
  }
}

.suggestions-for {
  float: left;
  width: 100%;
  color: $dark;
  font-size: 18px;
  border-top: 1px solid #ccc;
  padding: 10px 0;

  @include media(6) {
    font-size: 14px;
  }

  .dark & {
    color: #717171;
    border-top: 1px solid #474747;
  }

  a {
    color: $main2;
    text-decoration: none;

    &:active {
      color: $main1;
    }
  }
}

.item-wrap {
  margin: 0 0 60px 0;
  position: relative;

  lost-column: 1/6;

  @include media(1) { lost-column: 1/4; }
  //@include media(3) { lost-column: 1/5; }
  @include media(3) { lost-column: 1/3; }
  //@include media(4) { lost-column: 1/4; }
  @include media(5) {
    lost-column: 1/2;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  @include media(6) {  }
}

.show-ratings-never {
  .rating-0,
  .rating-1,
  .rating-2,
  .rating-3 {
    display: none;
  }
}

.show-ratings-hover {
  .item-rating {
    opacity: 0;
  }

  &:hover {
    .item-rating {
      opacity: 1;
    }
  }
}

.item-rating-loader {
  display: block !important;
}

.item-image-wrap {
  position: relative;
  float: left;
  max-height: 278px;
  max-width: 185px;
  width: 100%;

  @include transition(box-shadow);

  @include media(3) {
    //width: 120px;
    height: auto;
  }

  @include media(6) {
    //width: 100px;
  }

  &:hover {
    box-shadow: 0 0 2px 2px $main2;

    .logged & {
      .item-new {
        display: block;
      }
    }

    .show-episode {
      opacity: .9;
    }

    .item-actions {
      opacity: 1;
    }

    .recommend-item,
    .add-to-watchlist,
    .remove-from-watchlist {
      opacity: .9;
    }

    .item-image {
      //border: 1px solid $main2;
    }
  }

  &:active {
    box-shadow: 0 0 2px 2px $main1;
  }
}

.item-image {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .5);
  width: 100%;
  //border: 1px solid transparent;

  @include transition(border);

  @include media(3) {
    height: auto;
  }
}

.no-image {
  width: 185px;
  height: 270px;
  background: $dark;
  float: left;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
}

.item-content {
  float: left;
  width: 100%;
  max-width: 185px;
  margin: 20px 0 0 0;

  @include media(5) {
    margin: 10px 0 0 0;
  }

  .item-year,
  .item-genre {
    width: 100%;
    float: left;
    color: #888;
    font-size: 14px;
    margin: 0 5px 0 0;

    .dark & {
      color: #626262;
    }

    i {
      font-style: normal;
      text-transform: uppercase;
      float: right;
    }

    @include media(3) {
      font-size: 13px;
    }
  }

  .item-title {
    color: $dark;
    clear: both;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    text-decoration: none;
    float: left;

    .dark & {
      color: #717171;
    }

    &:hover {
      color: $main2;
    }

    &:active {
      color: $main1;
    }

    @include media(3) {
      font-size: 15px;
    }
  }
}

.item-has-src {
  float: left;
  //margin: 5px 0 0 0;
  margin: 7px 6px 0 0;
  font-style: normal;
  width: 12px;
  height: 9px;
  background: url(../../../public/assets/img/has-src.png);
}

.is-finished {
  float: left;
  margin: 0 5px;
  font-style: normal;
  width: 12px;
  height: 9px;
  background: url(../../../public/assets/img/is-finished.png);
}

.item-rating {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .7);
  border-radius: 25px;
  z-index: 120;

  .logged & {
    cursor: pointer;

    &:hover {
      transform: translate(-50%, -50%) scale(1.2);

      @include media(3) {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &:active {
      transform: translate(-50%, -50%) scale(1.1) !important;
    }

    @include transition(transform, background, opacity);
  }

  @include media(3) {
    transform: translate(-50%, -50%) scale(.8);

    .logged & {
      &:active {
        transform: translate(-50%, -50%) scale(.8) !important;
      }
    }
  }
}

.rating-1 {
  background: $rating1;

  .icon-rating {
    background: url(../../../public/assets/img/rating-1.png);
  }
}

.rating-2 {
  background: $rating2;

  .icon-rating {
    background: url(../../../public/assets/img/rating-2.png);
  }
}

.rating-3 {
  background: $rating3;

  .icon-rating {
    background: url(../../../public/assets/img/rating-3.png);
  }
}

.rating-0 {
  background: #8a8a8a;

  .icon-rating {
    background: url(../../../public/assets/img/rating-0.png);
  }
}

.icon-rating {
  width: 50px;
  height: 50px;
  display: block;
}

.item-new {
  background: $main1;
  display: none;

  @include media(3) {
    .logged & {
      display: block;
    }
  }

  .subpage-open & {
    display: block;
  }
}

.icon-add {
  background: url(../../../public/assets/img/add.png);
  width: 50px;
  height: 50px;
  display: block;
}

.recommend-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3px 0;
  background: $dark;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  opacity: 0;
  z-index: 100;

  @include transition(opacity);

  .subpage-open & {
    opacity: .7 !important;
  }

  &:hover {
    opacity: 1 !important;
  }

  &:active {
    opacity: .7 !important;
  }

  @include media(3) {
    display: none;
    /*font-size: 12px;
    padding: 8px 1px;
    position: static;
    float: left;
    opacity: 1 !important;*/
  }
}

.hide-completed {
  float: left;
  padding: 7px;
}

.add-to-watchlist,
.remove-from-watchlist,
.edit-item {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  background: #238cce;
  padding: 5px 0;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  width: 100%;

  @include transition(background, opacity);

  &:hover {
    background: lighten(#238cce, 5%);
    opacity: 1 !important;
  }

  &:active {
    background: #238cce;
    opacity: .7 !important;
  }

  @include media(3) {
    display: none;
  }
}

.remove-from-watchlist {
  //opacity: 1 !important;
}

.item-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  z-index: 100;

  @include transition(opacity);

  @include media(4) {
    opacity: 1;
  }

  .subpage-poster-wrap & {
    opacity: 1;
    z-index: 150;
  }

  span,
  a {
    margin: 0 0 0 5px;

    &:first-child {
      margin: 0;
    }
  }
}

.is-a-show {
  float: left;
  background: $gradient;
  padding: 0 5px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  height: 25px;
  display: flex;
  align-items: center;

  opacity: .8;

  @include transition(opacity);

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: .8;
  }
}

.has-suggestion {
  display: flex;
  align-items: center;
  height: 25px;
  float: left;
  background: $dark;
  padding: 0 8px;
  cursor: pointer;

  opacity: .8;

  @include transition(opacity);

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: .8;
  }

  i {
    margin: 0;
  }
}

.el-tooltip__popper.is-dark {
  background: $main2 !important;
  text-transform: uppercase;
  border-radius: 0 !important;
  font-size: 12px !important;
  padding: 5px 10px !important;
}

.is-on-watchlist {
  //position: absolute;
  //bottom: 10px;
  //right: 10px;
  display: flex;
  align-items: center;
  height: 25px;
  float: left;
  background: #238cce;
  padding: 0 8px;
  cursor: pointer;

  opacity: .8;

  @include transition(opacity);

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: .8;
  }

  i {
    margin: 0;
  }
}

.edit-item {
  background: $rating2;
  opacity: 1;

  &:hover {
    background: lighten($rating2, 5%);
  }

  &:active {
    background: $rating2;
  }
}

.show-episode {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  background: $main2;
  background: $gradient;
  padding: 3px 6px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  width: 100%;
  z-index: 100;

  @include transition(opacity, bottom);

  .subpage-open & {
    opacity: .7 !important;
  }

  &:hover {
    opacity: 1 !important;
  }

  &:active {
    opacity: .7 !important;
  }

  @include media(3) {
    //opacity: 1 !important;
    //padding: 8px 6px;
  }

  i {
    font-style: normal;
    opacity: .7;
  }

  .season-item {
    float: left;
  }

  .item-done {
    text-align: center;
    display: block;
    width: 100%;
  }

  .episode-item {
    float: right;
  }
}

.fade-enter-active {
  transition: opacity .5s ease, top .5s ease;
  opacity: 1;
  top: 0;
  visibility: visible;
}

.fade-enter,
.fade-leave {
  top: -10px;
  opacity: 0;
  visibility: hidden;
}

.box {
  float: left;
  width: 100%;

  h2 {
    float: left;
    width: 100%;
    margin: 0 0 30px 0;
    color: $main1;
  }
}

.nothing-found,
.current-version {
  float: left;
  width: 100%;
  font-size: 32px;
  margin: 0 0 30px 0;
  color: $dark;
}

.content-submenu {
  margin-bottom: 30px;
  margin-top: -30px;
  position: relative;
  z-index: 150;
}

.sort-wrap {
  float: right;

  .icon-sort-time,
  .icon-sort-star {
    float: left;
    width: 32px;
    height: 30px;
    margin: 0 0 0 15px;
    cursor: pointer;
    opacity: .6;

    @include transition(opacity);

    &.active {
      opacity: 1;
    }

    &:active {
      opacity: .4;
    }

    &:first-child {
      margin: 0;
    }
  }
}

.sort-direction {
  float: left;
  padding: 0 10px;
  cursor: pointer;
  font-size: 18px;
  color: #888;

  &:active {
    opacity: .6;
  }

  .dark & {
    color: #626262;
  }

  i {
    float: left;
    font-style: normal;
  }
}

.filter-wrap {
  float: left;
  cursor: pointer;
  position: relative;
}

.current-filter,
.show-watchlist-items {
  float: left;
  padding: 7px 9px;
  color: #888;
  font-size: 14px;

  .dark & {
    color: #626262;
  }
}

.show-watchlist-items {
  cursor: pointer;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.all-filters {
  position: absolute;
  top: 70%;
  right: 0;
  background: $main2;
  list-style: none;
  min-width: 170px;
  //display: none;
  opacity: 0;
  visibility: hidden;
  max-height: 300px;
  overflow-y: auto;

  @include transition(opacity, top);

  &.active {
    //display: block;
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  li,
  a {
    float: left;
    padding: 5px 10px;
    color: rgba(#fff, .9);
    font-size: 14px;
    width: 100%;
    text-decoration: none;
    border-bottom: 1px solid rgba(#fff, .3);

    @include transition(background);

    &:hover {
      background: $main1;
    }

    &:last-child {
      border: none;
    }
  }
}

.current-version {
  margin: 0;

  span {
    color: gray;
  }
}

.navigation-tab {
  float: left;
  width: 100%;
  margin: 0 0 80px 0;

  span {
    color: gray;
    font-size: 17px;
    float: left;
    margin: 0 20px 0 0;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    @include media(6) {
      width: 50%;
      text-align: center;
      margin: 0 0 20px 0;
    }

    &:active {
      opacity: .6;
    }

    &.active {
      color: $main2;
      border-bottom: 2px solid $main2;

      @include media(6) {
        border-bottom: 2px solid transparent;
      }
    }

    &:last-child {
      margin: 0;
    }
  }
}

.version-wrap {
  float: left;
  width: 100%;
  margin: 0 0 50px 0;
  color: gray;
}

.update-check {
  float: left;
  font-size: 14px;
  color: gray;
  clear: both;
  margin: 10px 0;

  a {
    color: $main1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    float: left;
  }
}

.new-update {
  color: $rating1;
  width: 100%;
  margin: 0 0 10px 0;
  border-bottom: 1px solid transparent;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $rating1;
  }

  &:active {
    opacity: .6;
  }
}

.load-more-wrap {
  float: left;
  height: 100px;
  position: relative;
  width: 100%;
}

.load-more {
  float: left;
  width: 100%;
  padding: 15px;
  background: #e1e1e1;
  color: $dark;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;

  .dark & {
    background: #2f2f2f;
    color: #626262;
  }

  &:active {
    opacity: .8;
  }
}

.settings-box {
  float: left;
  width: 100%;

  &:last-child {
    margin: 0;
  }

  .login-form {
    clear: both;
    margin: 0 0 30px 0;
  }
}

.setting-box {
  float: left;
  width: 100%;
  margin: 0 0 10px 0;

  &:active {
    opacity: .6;
  }

  input {
    float: left;
    margin: 5px 0 0 0;
    -webkit-appearance: checkbox !important;
  }

  label {
    float: left;
    font-size: 15px;
    margin: 0 0 0 10px;
    cursor: pointer;

    @include media(5) {
      width: calc(100% - 30px);
    }
  }

  .dark & {
    color: #5d5d5d;
  }
}

.select-box {
  margin: 10px 0;

  label {
    margin: 0 10px 0 0;
  }

  select {
    float: left;
    font-size: 14px;
  }
}

.userdata-changed {
  float: left;
  width: 100%;

  span {
    float: left;
    color: $rating1;
    margin: 10px 0;
    font-size: 14px;
  }
}

.userdata-info,
.import-info {
  float: left;
  color: gray;
  font-size: 13px;
  margin: 10px 0;

  .dark & {
    color: #5d5d5d;
  }
}

.import-info {
  margin: 30px 0;
  width: 100%;
}

.file-btn {
  float: left;
  margin: 0 0 10px 0;

  .dark & {
    color: #5d5d5d;
  }
}

.misc-btn-wrap {
  float: left;
  width: 100%;

  .setting-btn {
    margin: 0 20px 20px 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.setting-btn {
  background: $main2;
  background: $gradient;
  color: #fff;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  padding: 8px 20px;
  cursor: pointer;
  text-decoration: none;
  float: left;

  &:active {
    opacity: .8;
  }
}

.production-message {
  color: $main2;
  font-size: 16px;
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
}
