header {
  background: $main2;
  background: linear-gradient(to right, $main1, $main2);
  width: 100%;
  padding: 25px 0;
  position: relative;
  z-index: 20;
  opacity: 0;

  @include media(5) {
    padding: 15px 0;
  }

  .open-modal & {
    padding: 25px 16px 25px 0;
  }

  .subpage-open & {
    background: none;
  }

  &.active {
    transition: opacity .7s ease .1s;
    opacity: 1;
  }
}

.logo {
  float: left;
  opacity: .9;
  cursor: pointer;

  @include media(5) {
    width: 80px;
    height: auto;
    margin: 7px 0 0 0;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.site-nav,
.site-nav-second {
  float: left;
  margin: 7px 0 0 40px;
  list-style: none;
  padding: 0;
  opacity: .9;

  @include media(4) {
    clear: left;
    float: left;
    margin: 20px 0 0 0;
  }

  li {
    float: left;
    margin: 0 20px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 2px solid transparent;

    &.router-link-active {
      border-bottom: 2px solid #fff;
    }

    &:active {
      opacity: .6;
    }

    @include media(5) {
      font-size: 14px;
    }
  }
}

.site-nav-second {
  float: right;
  margin: 7px 0 0 0;

  @include media(4) {
    clear: none;
    float: left;
    margin: 20px 0 0 15px;
  }
}