.login-wrap {
  lost-center: 320px 20px;

  @include media(4) {
    width: 100%;
  }
}

.top-bar {
  float: left;
  width: 100%;
  height: 30px;
  background: $main2;
  background: linear-gradient(to right, $main1, $main2);
}

.logo-login {
  display: block;
  margin: 30vh auto 50px auto;
}

.login-form {
  float: left;
  width: 100%;

  input[type="text"],
  input[type="password"] {
    float: left;
    width: 100%;
    font-size: 15px;
    margin: 0 0 5px 0;
    background: #333;
    padding: 12px;
    color: #fff;
    border: 0;
  }

  input[type="submit"] {
    background: $main2;
    background: linear-gradient(to right, $main1, $main2);
    color: #fff;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    padding: 8px 20px;
    cursor: pointer;
    float: left;

    &:active {
      opacity: .8;
    }
  }
}

.login-error {
  float: left;
  height: 20px;
  width: 100%;
  margin: 10px 0;

  span {
    float: left;
    color: $rating3;
    font-size: 14px;
  }
}