.flox {
  position: relative;
  width: 100%;
  min-height: calc(100vh + 150px);
  float: left;
  padding: 0 0 150px 0;
}

.box {
  float: left;
  width: 100%;
  padding: 60px 0;
  position: relative;

  .box-wrap:nth-of-type(even) & {
    background: #242424;

    .light-theme & {
      background: #e9e9e9;
    }
  }
}

.box-headline {
  font-size: 22px;
  color: #555;

  .light-theme & {
    color: $dark;
  }

  &:hover,
  &:active {
    //background: $main;
    color: #fff;
  }
}

.box-options {
  float: right;

  i {
    float: left;
    cursor: pointer;
    margin: 0 0 0 20px;
    opacity: .8;

    .light-theme & {
      opacity: 1;
    }

    &:active {
      opacity: .6;
    }
  }
}

.icon-time {

  &.active {
    @extend .icon-time-active;
  }
}

.icon-star {

  &.active {
    @extend .icon-star-active;
  }
}

.icon-load-more,
.icon-content-load,
.icon-box-load {
  background: url(../img/content-load.gif) no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translateX(-50%);

  .light-theme & {
    background: url(../img/content-load-light.gif) no-repeat;
  }
}

.icon-box-load {
  top: 280px;
}

.load-more-wrap {
  position: relative;
  float: left;
  width: 100%;
  height: 70px;
}

.icon-load-more {
  top: 0;
}

.show-item-wrap {
  float: left;
  width: 100%;
  margin: 50px 0 0 0;
}

.image-wrap {
  float: left;
  width: 350px;
}

.show-content {
  float: left;
  width: 710px;

  h2 {
    color: $main;
    font-size: 32px;
  }
}

.load-more {
  background: #242424;
  padding: 10px;
  float: left;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #555;
  cursor: pointer;
  position: relative;

  .light-theme & {
    background: #e9e9e9;
  }
}