.site-footer {
  float: left;
  width: 100%;
  background: darken($dark, 3%);
  padding: 40px 0;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  
  a:active {
    opacity: .5;
  }

  .light-theme & {
    background: #cdcdcd;
  }
}

.attribution {
  color: #555;
  float: left;
}

.icon-tmdb {
  float: left;
  margin: 3px 10px 0 0;

  .light-theme & {
    opacity: .6;
  }
}

.icon-github {
  float: right;

  .light-theme & {
    opacity: .6;
  }
}

.admin-link {
  float: left;
  clear: both;
  color: #555;
  font-size: 16px;
  margin: 30px 0 0 0;
}