.items {
  float: left;
  width: 100%;
  min-height: 400px;
}

.item {
  float: left;
  width: 185px;
  margin: 50px 33px 0 0;
  position: relative;

  &:nth-child(5n) {
    margin: 50px 0 0 0;

    .item-hidden-content {
      left: auto;
      right: -20px;
    }
  }
}

.rating {
  float: right;
  width: 10px;
  height: 270px;
  opacity: .9;
  background: silver;

  .item-image-big & {
    height: 450px;
  }
}

.rating-1 { background: #ac1b1b; }
.rating-1-5 { background: linear-gradient(#c15e33 20%, #ac1b1b 25%); }
.rating-2 { background: #c15e33; }
.rating-2-5 { background: linear-gradient(#dea621 20%, #c15e33 25%); }
.rating-3 { background: #dea621; }
.rating-3-5 { background: linear-gradient(#73a01c 20%, #dea621 25%); }
.rating-4 { background: #73a01c; }
.rating-4-5 { background: linear-gradient($main 20%, #73a01c 25%); }
.rating-5 { background: $main; }

.item-image {
  background-color: #101010;
  float: left;
  width: 185px;
  height: 270px;
  position: relative;
  top: 0;
  //overflow: hidden;
  opacity: 1;
  //box-shadow: 0 10px 12px 5px rgba(0,0,0,.4);
  transition: top .4s ease-in-out 0s, opacity .4s ease-in-out 0s, transform .15s ease-in-out 0s;
  filter: blur(0);
  cursor: pointer;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .light-theme & {
    box-shadow: 0 10px 12px 0 rgba(0,0,0,.3);
  }

  .loading & {
    top: -5px;
    opacity: 0;
  }

  .active & {
    z-index: 200;
    cursor: default;
  }

  &:hover {
    //border: 4px solid $main;
    //transform: translateZ(0) scale(1.05, 1.05);
  }
}

.item-hidden-content {
  background: #0b0b0b;
  width: 444px;
  height: 360px;
  padding: 20px;
  display: none;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 100;

  .active & {
    display: block;
  }
}

.item-image-big {
  width: 300px;
  height: 450px;
}

.item-content {
  float: left;
  margin: 20px 0 0 0;
  padding: 0 5px;
  width: 100%;
  cursor: default;
}

.icon-no-image {
  position: absolute;
  top: 95px;
  left: 60px;

  .item-image-big & {
    top: 175px;
    left: 120px;
  }
}

.item-rating,
.item-date {
  float: left;
  color: #555;
  clear: both;

  .light-theme & {
    color: #909090;
  }
}

.item-date {
  cursor: help;
}

.item-title {
  float: left;
  clear: both;
  font-size: 17px;
  color: #909090;
  border-bottom: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;

  .light-theme & {
    color: $dark;
  }

  .item-hidden-content & {
    font-size: 20px;
    margin: 0 0 0 210px;
    overflow: visible;
    white-space: normal;
  }
}

.trailer-btn {
  background: $main;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 0;
  text-align: center;
  width: 185px;
  position: absolute;
  bottom: 15px;
  left: 20px;

  &:hover {
    background: darken($main, 5%);
  }

  &:active {
    background: darken($main, 10%);
  }
}

.icon-close-small {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;

  &:active {
    opacity: .8;
  }
}