.modal-wrap {
  background: rgba(#0e0e0e, .98);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  opacity: 1;
  transition: opacity .1s ease-in-out 0s;

  .light-theme & {
    background: rgba(#fff,.98);
  }

  .modal-active & {
    overflow-y: scroll;
  }

  &.loading {
    opacity: 0;
  }
}

.modal-header {
  background: $main;
  float: left;
  width: 100%;
  height: 65px;
  position: fixed;
  left: 0;
  top: 0;
  transition: top .5s ease-in-out 0s;

  .loading & {
    top: -100%;
  }

  .icon-search {
    float: left;
    margin: 17px 0 0 0;
  }
}

.icon-close-wrap {
  padding: 16px;
  float: right;
  cursor: pointer;
  margin: 5px 0 0 0;

  .icon-close {
    float: left;
  }

  &:active {
    opacity: .6;
  }
}

.modal-input {
  border: 0;
  background: transparent;
  font-size: 38px;
  color: $main;
  width: 100%;
}

.search-wrap {
  float: left;
  width: calc(100% - 100px);
}

.search-items {
  width: 100%;
  float: left;
  padding: 80px 0;
}

.no-items-found {
  width: 100%;
  float: left;
  margin: 30vh 0 0 0;
  text-align: center;
  color: #474747;
  font-size: 32px;
}

.modal-label {
  float: left;
  text-transform: uppercase;
  color: #3e3e3e;
  font-size: 15px;
}