/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-add {
  background-image: url(../img/sprite.png);
  background-position: -64px -18px;
  width: 32px;
  height: 32px;
}
.icon-close {
  background-image: url(../img/sprite.png);
  background-position: -96px -18px;
  width: 32px;
  height: 32px;
}
.icon-github {
  background-image: url(../img/sprite.png);
  background-position: -96px -64px;
  width: 33px;
  height: 27px;
}
.icon-no-image {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
}
.icon-search {
  background-image: url(../img/sprite.png);
  background-position: -128px -18px;
  width: 32px;
  height: 32px;
}
.icon-star-active {
  background-image: url(../img/sprite.png);
  background-position: -160px -18px;
  width: 32px;
  height: 32px;
}
.icon-star {
  background-image: url(../img/sprite.png);
  background-position: 0px -64px;
  width: 32px;
  height: 32px;
}
.icon-time-active {
  background-image: url(../img/sprite.png);
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-time {
  background-image: url(../img/sprite.png);
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-tmdb {
  background-image: url(../img/sprite.png);
  background-position: -64px 0px;
  width: 138px;
  height: 18px;
}
