{
  "development": {
    "username": "root",
    "password": null,
    "database": "flox_file_parser_development",
    "host": "0.0.0.0",
    "dialect": "mysql"
  },
  "test": {
    "username": "root",
    "password": null, 
    "database": "flox_file_parser_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "flox_file_parser_production",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
